################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NZWalks/.vs/NZWalks/config/applicationhost.config
/NZWalks/.vs/NZWalks/DesignTimeBuild/.dtbcache.v2
/NZWalks/.vs/NZWalks/FileContentIndex
/NZWalks/NZWalksAPI/bin/Debug/net6.0
/NZWalks/NZWalksAPI/obj
NZWalks/.vs/NZWalks/v17/.suo
/NZWalks/.vs/NZWalks/v17/TestStore/0
NZWalks/.vs/NZWalks/v17/.suo
*.cache
*.cache
NZWalks/NZWalksAPI/obj/NZWalksAPI.csproj.nuget.dgspec.json
NZWalks/NZWalksAPI/obj/Debug/net6.0/NZWalksAPI.csproj.AssemblyReference.cache
*.suo
/NZWalks/NZWalksAPI/bin
*.v2
NZWalks/.vs/NZWalks/v17/.suo
*.1
*.user
*.cache
*.cache
*.json
NZWalks/NZWalksAPI/obj/project.nuget.cache
*.cache
NZWalks/.vs/NZWalks/v17/.suo
NZWalks/.vs/NZWalks/v17/.suo
